.footer {
  padding-bottom: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @include onTablet {
    padding-bottom: 30px;
    flex-direction: column;
    gap: 20px;
  }

  &__logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: $color-orange;

    @include onSmallPhone {
      order: 0;
    }
  }

  &_nav {
    display: flex;
    gap: 80px;

    @include onDesktop {
      gap: 60px;
    }

    @include onTablet {
      gap: 40px;
    }

    @include onSmallPhone {
      order: 3;
      flex-direction: column;
      align-self: flex-start;
      gap: 20px;
    }

    &-link {
      color: $color-green-dark;
      text-decoration: none;
      font-size: 15px;
      text-transform: capitalize;
      position: relative;
      opacity: 0.5;

      &::after {
        content: "";
        width: 0%;
        height: 4px;
        background-color: $color-green-dark;
        z-index: 2;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-radius: 10px;
        opacity: 0.5;
        transition: all 0.5s;
      }

      @include hover {
        &:hover {
          &::after {
            content: "";
            width: 100%;
          }
        }
      }

      &--active {
        &::after {
          content: "";
          width: 75%;
          height: 4px;
          background-color: $color-green-dark;
          z-index: 2;
          position: absolute;
          bottom: -4px;
          left: 0;
          border-radius: 10px;
        }
      }
    }
  }

  &__btns {
    display: flex;
    gap: 25px;
    align-items: center;

    @include onSmallPhone {
      order: 2;
    }

    &-item {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      position: relative;
      white-space: nowrap
    }

    &-sign-up {
      color: $color-green-dark;
      opacity: 0.5;
      &::after {
        content: "";
        width: 0%;
        height: 4px;
        background-color: $color-green-dark;
        z-index: 2;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-radius: 10px;
        opacity: 0.5;
        transition: all 0.5s;
      }

      @include hover {
        &:hover {
          &::after {
            content: "";
            width: 100%;
          }
        }
      }
    }

    &-login {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 49px;
      border-radius: 100px;
      background: linear-gradient(
          130deg,
          $color-orange-light 15.57%,
          $color-orange-dark 95.03%
        ),
        #fff;
      transition: all 0.5s;

      @include hover {
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}