.header {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;

  @include onTablet {
    padding-top: 20px;
  }

  @include onSmallPhone {
    padding-top: 40px;
  }

  &__logo {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
  }

  &__menu {
    &-btn {
      display: none;

      @include onTablet {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 32px;
        background: linear-gradient(
          130deg,
          $color-orange-light 15.57%,
          $color-orange-dark 95.03%
        );
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        transition: all 0.5s;
      }

      &-img {
        transform: rotate(-90deg);
        width: 22px;
        height: 22px;
        transition: all 0.5s;
      }

      &-img--open {
        transform: rotate(90deg);
        width: 22px;
        height: 22px;
      }
    }
  }

  &_nav {
    display: flex;
    gap: 80px;

    @include onDesktop {
      gap: 60px;
    }

    @include onTablet {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: -30px;
      right: -30px;
      padding-top: 70px;
      height: 100vh;
      background-color: $color-green-dark-05;
      z-index: 2;
      transform: translateY(-110%);
      transition: all 0.5s;
    }

    &--open {
      transform: translateY(0%);
    }

    &-link {
      color: #fff;
      text-decoration: none;
      font-size: 15px;
      text-transform: capitalize;
      position: relative;

      @include onTablet {
        font-size: 24px;
      }

      &::after {
        content: "";
        width: 0%;
        height: 4px;
        background-color: $color-gray-C4;
        z-index: 2;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-radius: 10px;
        transition: all 0.5s;
      }

      @include hover {
        &:hover {
          &::after {
            content: "";
            width: 100%;
          }
        }
      }

      &--active {
        &::after {
          content: "";
          width: 75%;
          height: 4px;
          background-color: $color-gray-C4;
          z-index: 2;
          position: absolute;
          bottom: -4px;
          left: 0;
          border-radius: 10px;
        }
      }
    }
  }

  &__btns {
    display: flex;
    gap: 25px;
    align-items: center;

    &-item {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      position: relative;
      white-space: nowrap;

      @include onSmallPhone {
        font-size: 12px;
      }
    }

    &-sign-up {
      &::after {
        content: "";
        width: 0%;
        height: 4px;
        background-color: $color-gray-C4;
        z-index: 2;
        position: absolute;
        bottom: -4px;
        left: 0;
        border-radius: 10px;
        transition: all 0.5s;
      }

      @include hover {
        &:hover {
          &::after {
            content: "";
            width: 100%;
          }
        }
      }
    }

    &-login {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 49px;
      border-radius: 100px;
      background: linear-gradient(
        130deg,
        $color-orange-light 15.57%,
        $color-orange-dark 95.03%
      );
      transition: all 0.5s;

      @include onSmallPhone {
        width: 100px;
        height: 36px;
      }

      @include hover {
        &:hover {
          font-family: $fontBold;
        }
      }
    }
  }
}
