.page {
  &__body {
    margin: 0;
    padding: 0;
    background-color: $color-primary-background;
    font-family: $fontMedium;

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    overflow: hidden;
    min-width: 320px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    border-radius: 90px;

    &-top {
      &-bg {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -5;
        background-image: url("../../images/top-bg.svg");
        background-repeat: no-repeat;
        background-position: top;

        &-img-wrapper {
          top: 0;
          left: 0;
          right: 0;
          max-width: 1440px;
          height: 951px;
          width: 100%;
          z-index: -4;
          background-image: url("../../images/top-image-2.png");
          background-repeat: no-repeat;
          background-position: top;
        }
      }
    }
  }
}
