.page {
  &__body {
    margin: 0;
    padding: 0;
    background-color: $color-primary-background;
    font-family: $fontMedium;

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    overflow: hidden;
    min-width: 320px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    background-image: url('../../images/top-bg.svg');
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 90px;
  }
}
