@font-face {
  font-family: "Poppins-Regular";
  src: url("../../go_triepo/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../go_triepo/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../go_triepo/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../../go_triepo/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
