$color-primary-background: #F6F6F6;
$color-white-FE: #FEFEFE;
$color-gray-C4: #C4C4C4;
$color-orange-light: #ff7b4e;
$color-orange-dark: #ff584e;
$color-red-light: #FFAA99;
$color-white-025: rgba(255, 255, 255, 0.25);

$color-green-dark: #0F1F1C;





$fontRegular: "Poppins-Regular", sans-serif;
$fontMedium: "Poppins-Medium", sans-serif;
$fontSemiBold: "Poppins-SemiBold", sans-serif;
$fontBold: "Poppins-Bold", sans-serif;
