$color-primary-background: #F6F6F6;
$color-gray-C4: #C4C4C4;
$color-orange-light: #ff7b4e;
$color-orange-dark: #ff584e;



$fontRegular: "Poppins-Regular", sans-serif;
$fontMedium: "Poppins-Medium", sans-serif;
$fontSemiBold: "Poppins-SemiBold", sans-serif;
$fontBold: "Poppins-Bold", sans-serif;
